
/* SMARTBANNER */
.reg-smartbanner {
    box-shadow: 0 3px 5px rgba(41, 47, 55, 0.1);
    background: #ffffff;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}





.reg-smartbanner-readers {
    font-size: 13px;
    opacity: .5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reg-smartbanner-reader {
    display: flex;
    justify-content: space-between;
    min-width: 212px;
}

.reg-smartbanner-reader-status {
    margin-left: 4px;
    font-weight: 600;
}

.reg-smartbanner-reader-signal {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 8px;
}

.reg-smartbanner-reader-wait > .reg-smartbanner-reader-signal {
    background: yellow;
}

.reg-smartbanner-reader-ok > .reg-smartbanner-reader-signal {
    background: green;
}

.reg-smartbanner-reader-error > .reg-smartbanner-reader-signal {
    background: red;
}


