.idea/
.vs/
/node_modules
/bin
/app/storage/*
core/consoleapps/portablereader/portablereader/bin/
core/consoleapps/portablereader/portablereader/obj/
core/consoleapps/MainReaderAdapter/MainReaderAdapter/bin/
core/consoleapps/MainReaderAdapter/MainReaderAdapter/obj/
dist/
