.selector {
    display: flex;
    margin-bottom: 8px;
}

.insert {
    margin-right: 8px;
}

.controls {
    display: flex;
    margin-bottom: 8px;
    justify-content: space-between;
}

.select {
    margin-right: 8px;
    width: 100%;
}

.select-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.start {
    width: 50%;
    margin-right: 4px;
}

.stop {
    width: 50%;
    margin-left: 4px;
}

.dropdown {
    width: 282px;
}
