.results-view-layout {
    display: flex;
}

.results-view-title {
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 600;
}

.results-view-raceinfo {
    width: 20%;}

.results-view-history {
    width: 40%;
    margin: 0 16px;
}

.results-view-total {
    width: 40%;
}
