.events-title,
.events-selector,
.events-controls {
    margin-bottom: 8px;
}

.events-selector-insert,
.events-selector-select,
.events-controls-start {
    margin-right: 8px;
}

.events-selector-select {
    width: 100%;
}
