.reg-main-wrapper-blur {
    filter: blur(2px);
}

/* SMARTBANNER */
.reg-smartbanner {
    box-shadow: 0 3px 5px rgba(41, 47, 55, 0.1);
    background: #ffffff;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.reg-smarbanner-info {
    display: flex;
    flex-direction: column;
}

.reg-smartbanner-title {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 600;
}

.reg-smartbanner-readers {
    font-size: 13px;
    opacity: .5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reg-smartbanner-reader {
    display: flex;
}

.reg-smartbanner-reader-status {
    margin-left: 4px;
    font-weight: 600;
}

.reg-smartbanner-reader-signal {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 8px;
}

.reg-smartbanner-reader-wait > .reg-smartbanner-reader-signal {
    background: yellow;
}

.reg-smartbanner-reader-ok > .reg-smartbanner-reader-signal {
    background: green;
}

.reg-smartbanner-reader-error > .reg-smartbanner-reader-signal {
    background: red;
}


/* OPTIONS */
.reg-options-restore {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.reg-options-restore-button {
    width: 120px;
    height: 34px;
    font-weight: 600;
    font-size: 12px;
}

.reg-options-restore-label {
    font-size: 13px;
    display: flex;
    align-items: center;
    width: 102px;
    position: relative;
    cursor: pointer;
}

.reg-options-restore-label input {
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

/* USERS */
.reg-content {
    display: flex;
    width: 100%;
}

.reg-content-main {
    width: 100%;
}

.reg-users {
    width: 100%;
    min-height: 512px;
}

.reg-users-nousers {
    margin-left: 16px;
}

.reg-users-user {
    flex-direction: column;
    display: flex;
    background: #ffffff;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0 3px 5px rgba(41, 47, 55, 0.1);
    margin-bottom: 16px;
    min-width: 350px;
}

.reg-users-user-content {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.reg-users-user-header {
    margin-bottom: 8px;
}

.reg-users-user-name {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-link);
}

.reg-users-user-uid {
    opacity: 0.5;
}

.reg-users-user-remove {
    color: var(--stop-color);
    cursor: pointer;
    user-select: none;
}

.reg-users-user-remove:hover {
    text-decoration: underline;
}

.reg-users-user-remove:active {
    opacity: .5;
}

.reg-options {
    width: 384px;
    background: #ffffff;
    border-radius: 4px;
    margin-left: 16px;
    box-shadow: 0 3px 5px rgba(41, 47, 55, 0.1);
}

/* FULLSCREEN POPUP */
/* TODO SHOLD BE A COMPONENT AND REMOVED TO COMMON */
.reg-fullscreenpopup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.reg-fullscreenpopup-active {
    display: flex;
}

.reg-fullscreenpopup-content {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 16px;
    border-radius: 4px;
    position: relative;
}

.reg-fullscreenpopup-field {
    margin-bottom: 8px;
}

.reg-fullscreenpopup-close {
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    right: 11px;
    position: absolute;
    top: -24px;
}

.reg-fullscreenpopup-close:hover {
    text-decoration: underline;
}

.reg-fullscreenpopup-close:active {
    opacity: .8;
}