.history {
    display: flex;
    flex-direction: column;
}

.history-filter-name {
    max-width: 256px;
    margin-bottom: 8px;
}

.history table {
    border-collapse: collapse;
    width: 100%;
}

.history tr {
    margin-bottom: 4px;
}

.history tr:nth-child(even) {
    background: rgba(0, 0, 0, .1);
}

.history td {
    padding: 4px;
}

.history-row-id,
.history-row-date,
.history-row-time {
    text-align: center;
}

.history-row-name th {
    text-align: left;
}

.history history-row-time {
    margin-left: 4px;
}

