.reg-fullscreenpopup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.reg-fullscreenpopup-active {
    display: flex;
}

.reg-fullscreenpopup-content {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 16px;
    border-radius: 4px;
    position: relative;
}

.reg-fullscreenpopup-field {
    margin-bottom: 8px;
}

.reg-fullscreenpopup-uid {
    background-color: #e3e3e3;
}

.reg-fullscreenpopup-close {
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    right: 11px;
    position: absolute;
    top: -24px;
}

.reg-fullscreenpopup-close:hover {
    text-decoration: underline;
}

.reg-fullscreenpopup-close:active {
    opacity: .8;
}

.reg-fullscreenpopup-submit {
    margin-bottom: 16px;
}

.popup-portablereader-button {
    opacity: .5;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.popup-portablereader-button:hover {
    opacity: 1;
 }

 .popup-reader {
    display: flex;
    min-width: 212px;
}

.popup-reader-status {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 16px;
}

.popup-reader-disabled {
    background: black;
    opacity: .5;
}

.popup-reader-wait {
    background: yellow;
}

.popup-reader-ok {
    background: green;
}

.popup-reader-error {
    background: red;
}
