.results {
  width: 100%;
}

.result-tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: -4px;
}

.result-tab {
  background: #ffffff;
  height: 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 135px;
  flex-grow: .3;
  padding: 16px;
  font-size: 14px;
}

.result-tab:hover {
  font-weight: 600;
}

.result-tab-selected {
  background: var(--bg-color);
}
