.smartbanner {
    min-width: 900px;
    display: flex;
    justify-content: space-between;
}

.main-button, .portab-button
{
    opacity: .5;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.main-button:hover, .portab-button:hover
{
   opacity: 1;
}

.main-button {
    margin-bottom: 10px;
}

.smartbanner-reader {
    display: flex;
    min-width: 212px;
}

.smartbanner-reader-status {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 16px;
}

.smartbanner-reader-disabled {
    background: black;
    opacity: .5;
}

.smartbanner-reader-wait {
    background: yellow;
}

.smartbanner-reader-ok {
    background: green;
}

.smartbanner-reader-error {
    background: red;
}


