.smartbanner {
    display: flex;
    justify-content: space-between;
}

.smartbanner-readers {
    opacity: .5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.smartbanner-reader {
    display: flex;
    min-width: 212px;
}

.smartbanner-reader-status {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 16px;
}

.smartbanner-reader-disabled {
    background: black;
    opacity: .5;
}

.smartbanner-reader-wait {
    background: yellow;
}

.smartbanner-reader-ok {
    background: green;
}

.smartbanner-reader-error {
    background: red;
}


