.users {
    width: 100%;
}

.users > table {
    text-align: left;
}

.users-row-name {
    min-width: 256px;
}

.users-row-best-time {
    text-align: center;
}

.users-row-best-count {
    text-align: center;
}