@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  }

:root {
    --bg-color: #f2f1f0;
    --color-link: #0074c5;
    --stop-color: #a50000;
}

body {
    font-family: 'OpenSans';
    padding: 32px 16px;
    background: var(--bg-color);
}

/* BUTTON */
.button-regular {
    border-radius: 4px;
    cursor: pointer;
    height: 48px;
    background-image: linear-gradient(to bottom, #2f9cea 0%,#1d81d9 98%);
    box-shadow: inset 0 -2px 0 #206eb3;
    color: #fff;
    font-size: 18px;
    text-shadow: 0 4px 3px rgba(32, 110, 179, .2);
    display: flex;
    justify-content: center;
    font-weight: 600;
    padding: 0px 32px;
    border: 0;
}

.button-regular:hover {
    background: #1d81d9;
    text-shadow: 0 2px 2px rgba(32,110,179,0.2);
    box-shadow: inset 0 -2px 0 #206eb3;
}

.button-regular:active {
    background: #1d6bc3;
    text-shadow: none;
}

.button-regular:focus {
    outline: none;
}

.button-regular:disabled {
    opacity: .5;
}

/* INPUT */
.input-regular {
    border-radius: 3px;
    border: 1px solid rgba(133,135,139,0.3);
    box-shadow: inset 0 2px 2px 0 rgba(218,216,213,0.5);
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 400;
    height: 35px;
    padding: 0 10px;
    width: 100%;
}