.readers-buttons {
  display: flex;
  flex-direction: column;
}

.reader-button {
  opacity: .5;
  display: flex;
  cursor: pointer;
  margin-bottom: 16px;
  margin-right: 8px;

  &:hover {
    opacity: 1;
  }

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.reader-button-status {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 16px;

  &-disabled {
    background: black;
    opacity: .5;
  }

  &-ok {
    background: green;
  }

  &-error {
    background: red;
  }

  &-wait {
    background: yellow;
  }
}

.readers-main-wrapper {
    display: flex;
}




