.history,
.users {
    display: flex;
    flex-direction: column;
}

/*TODO: to results*/
.history-filter-name {
    max-width: 256px;
    margin-bottom: 8px;
}

.history table,
.users table {
    border-collapse: collapse;
    width: 100%;
}

.history tr,
.users tr {
    margin-bottom: 4px;
}

.history td,
.users td {
    padding: 4px;
}

.history tr:nth-child(even),
.users tr:nth-child(even) {
    background: rgba(0, 0, 0, .1);
}

.history-row-id,
.history-row-date,
.history-row-time,
.users-row-uid {
    text-align: center;
}

.history-row-name th,
.users-row-name th {
    text-align: left;
}

.history history-row-time {
    margin-left: 4px;
}

.history-row-delete,
.users-row-delete {
    max-width: 20px;
}

.history-row-delete img,
.users-row-delete img {
    width: 20px;
    opacity: .3;
    cursor: pointer;
}

.history-row-delete img:hover,
.users-row-delete img:hover {
    opacity: .7;
}

