.settings-drawer-content {
    padding: 16px;
}

.reader-params-input-group,
.race-params-input-group {
    display: flex;
    margin: 16px 0;
}

.reader-params-input-group-label,
.race-params-input-group-label {
    display: flex;
    align-items: center;
    width: 64px;
}

