.reader-settings-drawer-content {
    padding: 16px;
}

.reader-settings-select-wrapper {
    display: flex;
}

.reader-settings-select-label {
    min-width: 80px;
}

.reader-settings-scantime-label {
    font-weight: 600;
    margin-left: 4px;
}

.reader-params-input-group {
    display: flex;
    margin-top: 16px;
}

.reader-params-input-group-label {
    display: flex;
    align-items: center;
    width: 64px;
}
