.reader-settings-switch-label {
    margin-right: 16px;
}

.reader-settings-select-wrapper {
    display: flex;
}

.reader-settings-select-label {
    min-width: 80px;
}

.reader-settings-scantime-label {
    font-weight: 600;
    margin-left: 4px;
}
