@mixin button-status($color) {
    outline: none !important;
    background: $color !important;
    opacity: .5 !important;
}

.control-reader-button-status {
    &-disabled > span {
        @include button-status(black)
    }

    &-ok > span {
        @include button-status(green)
    }

    &-error > span {
        @include button-status(red)
    }

    &-wait > span {
        @include button-status(yellow)
    }
}

.control-reader-button {
    &:nth-child(2) {
        margin-bottom: 0;
    }
}

.control-reader-buttons {
    display: flex;
    flex-direction: column;
    position: relative;
}

.readers-main-settings {
    cursor: pointer;
    opacity: .5;
    padding-top: 2px;
    position: absolute;
    right: 8px;

    &:hover {
        opacity: 1;
    }
}
