<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>backend sucks</title>
      <link rel="stylesheet" type="text/css" href="../static/css/race.css">
      <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    </head>
    <body>
      <div class="race-smartbanner">
          <div class="race-smartbanner-title">Гонка</div>
          <div class="race-smartbanner-timer">
            00:00:00
          </div>
      </div>
      
      <div class="race-results">
          <div class="race-results-header">
            <div class="row-event row-event-position">Поз</div>
            <div class="row-event-competitor">Участник</div>
            <div class="row-event row-event-totaltime">Общее время</div>
            <div class="row-event row-event-diff">Разница</div>
            <div class="row-event row-event-laps">Круг</div>
            <div class="row-event row-event-besttime">Лучший круг</div>
          </div>
          <div class="race-results-body">
            <!-- <div class="race-results-competitor">
              <div class="row-event row-event-position">1</div>
              <div class="row-event-competitor">Сергей Лох</div>
              <div class="row-event row-event-totaltime">19:23:433</div>
              <div class="row-event row-event-diff">0</div>
              <div class="row-event row-event-laps">2</div>
              <div class="row-event row-event-besttime">2:32:522</div>
            </div>
            <div class="race-results-competitor">
              <div class="row-event row-event-position">2</div>
              <div class="row-event-competitor">Вася Балапхонцевич</div>
              <div class="row-event row-event-totaltime">18:99:111</div>
              <div class="row-event row-event-diff">23.33</div>
              <div class="row-event row-event-laps">3</div>
              <div class="row-event row-event-besttime">1:32:522</div>
            </div> -->
          </div>
        </div>
      
      </div>
      <div class="race-controls">
        <button class="race-controls-start button-regular">Старт!</button>
      </div>
    </body>
    <script src="../static/scripts/race/race.js"></script>
  </html>
