<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>backend sucks</title>
      <link rel="stylesheet" type="text/css" href="../static/css/common.css">
      <link rel="stylesheet" type="text/css" href="../static/css/reg.css">
    </head>
    <body>
      <main class="reg-main-wrapper">
        <div class="reg-smartbanner">
          <div class="reg-smarbanner-info">
              <span class="reg-smartbanner-title">Регистрация</span>
              <span class="reg-smarbanner-total-users"></span>
          </div>
          <div class="reg-smartbanner-readers">
            <div class="reg-smartbanner-reader reg-smartbanner-portablereader">
              <span class="reg-smartbanner-reader-title">Portable reader:</span>
              <span class="reg-smartbanner-reader-status"></span>
              <div class="reg-smartbanner-reader-signal"></div>
            </div>
            <div class="reg-smartbanner-reader reg-smartbanner-mainreader">
              <span class="reg-smartbanner-reader-title">Main reader:</span>
              <span class="reg-smartbanner-reader-status"></span>
              <div class="reg-smartbanner-reader-signal"></div>
            </div>
          </div>
        </div>
        
        <div class="reg-content">
          <div class="reg-content-main">
            <div class="reg-users">
              <span class="reg-users-nousers">Пока что не зарегистрирован ни один из участников</span>
            </div>
    
            <div class="reg-controls">
              <button class="reg-submit-registration button-regular" disabled>Закончить регистрацию</button>
            </div>
          </div>

          <aside class="reg-options">
            <div class="reg-options-restore">
              <button class="reg-options-restore-button button-regular">Восстановить</button>
              <label class="reg-options-restore-label">
                Сохранять пользователей
                <input type="checkbox" checked>
              </label>
            </div>
          </aside>
        </div>
      </main>

      <div class="reg-fullscreenpopup">
        <div class="reg-fullscreenpopup-content">
          <div class="reg-fullscreenpopup-close">Закрыть</div>
          <h2>Новый участник</h2>
          <input class="reg-fullscreenpopup-field reg-fullscreenpopup-uid input-regular" type="text" placeholder="UID">
          <input class="reg-fullscreenpopup-field reg-fullscreenpopup-firstname input-regular" type="text" placeholder="Имя">
          <input class="reg-fullscreenpopup-field reg-fullscreenpopup-lastname input-regular" type="text" placeholder="Фамилия">
          <button class="reg-fullscreenpopup-submit button-regular">Добавить</button>
        </div>
      </div>
    </body>
    <script src="../static/scripts/reg/reg.js"></script>
  </html>